/* 👇🏻قم باإضافة صورة الخلفية */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Thekr1.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

#backround{
  height: 100%;
}
h1 {
  margin: 0px;
  font-size: 3rem;
  color: black;
}

.counter {
  font-size: 2rem;
}

/* 👇🏻box shadow استعمل خاصية */
.counter-box {
  /* check */
  display: flex ;
  box-shadow: lightslategray;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 70%;
  border: 3px solid grey;
  box-shadow: 2px 2px 10px black;
  /* check */
  padding: 1rem;
  font-weight: bold;
  margin-left: 50px;
}

/* enhance */
.btn {
  background: #fff;
  border-radius: 8px;
  font-size: 2rem;
  /* padding: auto; */
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0.5rem 0.25rem;
  border: 1.5px solid black;
  /* box-shadow: 0px 5px black;
    outline: none; */
}

.btn-reset {
  border-radius: 8px;
  margin: 0.5rem 0.25rem;
  border: 1.5px solid black;
  background: url("../reset.png") no-repeat;
  background-size: 100%;
  height: 2rem;
  width: 2rem;
}

.btn-thekr {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.btn:active {
  box-shadow: none;
}

.btn-thekr:focus {
  outline: none;
}

.back{
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 2em;
    font-weight: bolder;
    color:black;
    margin-top: 10px;
    margin-bottom: 55px;
    font-size: 15px;
    text-align: left;
    
  }


